.yogposes-card {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  max-width: 350px;
}

.search-bar {
  padding: 10px 20px;
  font-size: 16px;
  margin-bottom: 20px;
  width: 80%;
  max-width: 500px;
  border-radius: 50px;
  outline: none;
  transition: all 0.3s ease;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.search-bar:focus {
  border-color: #fffaf3;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.yogposes-desc {
  max-width: 250px;
}
